.card {
    width: 220px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
    box-sizing: border-box;
}

.img {
    width: 110px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: #333;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin-top: 5px;
}

.num {
    color: black;
}

.star {
    color: rgb(255, 204, 0);
    display: flex;
    gap: 5px;
}

.heart {
    color: red;
    display: flex;
    gap: 5px;
}

.price {
    color: #FE4C50;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.viewBtn {
    width: 75px;
    height: 32px;
    font-size: 12px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    &:hover{
        background-color: black;
        color: white;
    }
}
.cartBtn{
    width: 75px;
    height: 32px;
    font-size: 12px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: black;
    color: white;
    &:hover{
        background-color: transparent;
        color: black;
        border: 2px solid black;
    }
}

